html
    head
        title Welcome
        script(src="/javascript/jquery.js")
        script(src="/javascript/main.js")
        script(src="/javascript/bootstrap.min.js")
        link(rel="stylesheet", href="/stylesheet/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheet/style.css")
    
    body
        div(class="mainContainer")
            div(class="profileContainer")
                img.img-circle.pic(src="/image/pic.jpg", alt="error", height="169px", width="163px", name="pic")

                div(class="infos")
                    h2 Dibil Pradhan
                    br
                    h5 at.dibil@gmail.com
                    h5 9865051072
                    h5 Golfutar, Kathmandu
                    h5 github.com/atDibil
            div.img-rounded(class="aboutContainer")
                h3 About Me
                h5 Hello! I am Dibil. Evaluating oneself is a very difficult thing to do but if i have to describe myself, I am a dynamic, self-motivated, creative and innovative  person who gets the work done. But I also value relationships more than work and want to have a good relationship with everyone. I am a quick learner and and I am always in pursuit of new knowledge. Favourite football club? Machester United GGMU!

        div(class="boxContainer")
            div(class="boxLeft")
                h4 Skills On:
                br
                h7 *Primary Skills & Knowledge*
                br
                div(class="primaryBox")
                    
                    img.img(src="/image/nodejs.png", alt="", height="46px", width="83px")
                    img.img(src="/image/pug.png", alt="", height="55px", width="96px")
                    img.img(src="/image/mongodb.png", alt="", height="45", width="120")
                    img.img(src="/image/Expressjs.png", alt="", height="25px", width="100px", class="express")
                    img.img(src="/image/jquery.gif", alt="", height="55", width="60")
                    img.img(src="/image/css.png", alt="", height="61", width="41")
                    img.img(src="/image/mongoose.png", alt="", height="60", width="110")
                    img.img(src="/image/html.png", alt="", height="61", width="55")
                    img.img(src="/image/bootstrap.png", alt="", height="60", width="50")
                br
                h7 *Other Skills & Knowledge*
                br
                div(class="otherBox")

                    img.img(src="/image/java.png", alt="", height="70", width="50")
                    img.img(src="/image/ajax.png", alt="", height="36", width="66")
                    img.img(src="/image/javascript.png", alt="", height="61", width="65")
                    img.img(src="/image/php.png", alt="", height="57", width="65")
                    img.img(src="/image/photoshop.png", alt="", height="55", width="55")
                    img.img(src="/image/chartjs.jpg", alt="", height="60", width="120")
                    img.img(src="/image/mysql.png", alt="", height="55", width="100")
            div(class="boxMiddle")
                h3 Academic Qualifications

                h5 SLC
                h5 Valley Public higher Secondary School
                h5 +2
                h5 KIST
                h5 BIM
                h5 KIST

                br
                hr        

                h3 Interest
                h5 Sports
                h6 I enjoy watching as well as playing sports. Football and Basketball are sports I enjoy the most.
                h5 Music
                h6 I listen to music all the time, it is one of the things i'm most fond of and I do it all the time.
                h5 Bingewatching
                h6 Those goddamn cliffhangers!
                h5 P.S. I have so many other interests too but I want to keep it short and sweet.
            div(class="boxRight")
                div(class="osContainer")
                    h3 Objective Statement
                    h5 As per BIM curriculum it is required for every student to do internship. It provides an oppurtunity to bridge the gap between theoretical and practical knowledge. But I also want to take this oppurtunity to take step to learn and hone my skills and knowledge by working alongside these amazing professionals who have been doing this for a long time. I hope it’s not just me that benefits from this but I also want to provide my own contributions, to make this a mutually beneficial relationship and an awesome experience.
                br
                hr
                br
                div(class="refContainer")
                    h4 References
                    h5 Surya Basnet 
                    h5 KIST College
                    h5 BIM department Coordinator
                    h5 9851158281